.wrapper {
  display: flex;
  flex-direction: column;
}

.toolbar {
  display: flex;
  width: (--canvas-width);
  justify-content: space-between;
  padding-bottom: 01rem;
}

/* brush sizes */

.brushGroup {
  display: flex;
}

.brushGroup button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brushGroup button:hover {
  opacity: 0.7;
  cursor: pointer;
}
.brushIcon {
  width: 40px;
}

.activeBtn {
  outline: 2px solid #ffffff;
  border-radius: 100px;
}

/* colors */

.colors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.colorBtn {
  width: 20px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border: none;
}

.colorBtn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.colorActive {
  outline: 2px solid #ffffff; /* the “border” */
  outline-offset: 6px;
}

/* undo and clear */

.undoAndClear {
}

.undoAndClear button {
  background-color: transparent;
  border: none;
}

.undoAndClear button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.btnIcon {
  width: 40px;
}

/* canvas */

.canvasShell {
  border: 2px solid rgba(255, 255, 255, 0.439);
}

.canvas {
  display: block;
  width: 100%;
  max-width: (--canvas-width);
  aspect-ratio: 1 / 1;
  touch-action: none; /* critical for touch drawing */
  background: transparent; /* we fill background in code */
  border: 1px solid #2a2a2a;
}

/* name and save */

.nameAndSave {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.charName {
  padding: 1rem;
  font-family: var(--font-fun);
  font-size: 3rem;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  text-align: center;
  font-weight: bold;
}

.charName:focus {
  outline: none;
}

.saveBtn {
  font-family: var(--font-fun);
  font-size: 2rem;
  color: var(--text-color);
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.saveBtn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.error {
  color: #f37171;
  font-size: 2rem;
  padding: 1rem;
}
