.landingContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px;
  padding-top: 100px;
}

.crown {
  width: 70px;
  padding: 1rem;
}

.landingChar {
  height: 200px;
  width: auto;
}

.landingTitle {
  color: var(--color-text);
  font-family: var(--font-fun);
  font-size: 7rem;
  line-height: 8rem;
  font-weight: 100;
  margin: 0;
}

.homeBtnList {
  display: flex;
  gap: 1rem;
}

.homeBtn {
  font-family: var(--font-fun);
  font-weight: 400;
  font-size: 1.4rem;
  padding: 1rem 1rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  width: 120px;
  /* border: 4px solid rgb(255, 255, 255); */
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease;
}

.homeBtn:hover {
  opacity: 0.6;
}

.btnIcon {
  height: 70px;
  width: 70px;
}

.yourDoodles {
  font-family: var(--font-fun);
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  padding: 1rem;
}

.yourDoodles h2 {
  font-size: 1.9rem;
}

.yourDoodles ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0;
  gap: 1rem;
}

.yourDoodles li {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.doodleSmall {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.3rem;
}

.yourDoodles li img {
  height: 100px;
  width: 100px;
}

.doodleSmallStats {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.3rem;
}
