.navBar {
  position: fixed;
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.navBar a {
  font-family: var(--font-fun);
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.4rem;
}

.active {
  font-weight: bold;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .navBar {
    background-color: var(--color-bg);
    gap: 1;
    width: 100vw;
    border-bottom: 2px solid rgba(255, 255, 255, 0.285);
    z-index: 10;
  }
}
